<div class="offset-2">
    <div class="col-12">
        <h1>New post</h1>
    </div>

    <%= render partial: "form" %>

    <div class="col-6">
        <%= link_to 'Back', posts_path, :class => "btn btn-primary" %>
    </div>
</div>
